# =========================
# Backend (Spring Boot + Gradle)
# =========================
/build/
/.gradle/
/out/
*.log
*.class
*.jar
*.war
*.ear

/build
/.gradle


# IntelliJ / Eclipse / VSCode
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# =========================
# Frontend (Angular)
# =========================
/dist/
/node_modules/
/tmp/
/coverage/
/.angular/
/.npm/
/yarn-error.log
package-lock.json
yarn.lock

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Sensitive files (manual)
# =========================
# Don't push credentials or keys
application.properties
application.yml
.env
