<h2>Select Ingredients</h2>

<div class="search-container">
  <input type="text" placeholder="Search ingredients..." [(ngModel)]="searchTerm" (input)="onSearch()">
  <button (click)="onSearch()">Search</button>
</div>


<div class="recipe-grid">
  <div 
    class="recipe-card" 
    *ngFor="let ingredient of filteredIngredients"
    [class.selected]="selectedIngredients.includes(ingredient.name)"
    (click)="toggleSelectionByName(ingredient.name)"
  >
    <img [src]="ingredient.imageUrl" alt="{{ ingredient.name }}">
    <h3>{{ ingredient.name }}</h3>
    <input type="checkbox"
           [checked]="selectedIngredients.includes(ingredient.name)"
           (click)="$event.stopPropagation(); toggleSelectionByName(ingredient.name)">
  </div>
</div>

<button class="suggest-btn" (click)="suggestRecipes()">Suggest Recipes</button>

<h2 *ngIf="suggestedRecipes.length">Suggested Recipes</h2>
<div class="recipe-grid" *ngIf="suggestedRecipes.length">
  <div class="recipe-card" *ngFor="let recipe of suggestedRecipes" (click)="viewDetails(recipe)">
    <img [src]="'http://localhost:8080/images/' + recipe.imageUrl" alt="{{ recipe.name }}">
    <h3>{{ recipe.name }}</h3>
    <p>Prep Time: {{ recipe.prepTime }} mins</p>
  </div>
</div>
